<h2>Acerca de m&iacute;</h2>
<p>
Hola, soy Santos Lopez estudiante de &uacute;ltimo a&ntilde;o de Ingenier&iacute;a en Sistemas Inform&aacute;tica y Ciencias de la Computaci&oacute;n en la Universidad Galileo de Guatemala.
Me gradu&eacute; de la carrera de P&eacute;rito en Inform&aacute;tica en el <strong>Centro Educativo T&eacute;cnico Laboral Kinal</strong>.
He tomado cursos como: <a href="https://www.coursera.org/learn/web-applications-php">Web Applications Php</a>, <a href="https://es.coursera.org/learn/html">Introduction to HTML5</a>:  ofrecidos por la <strong>Universidad de Michigan</strong> por medio
de la plataforma <strong>Coursera</strong> y actualmente estoy tomando el curso <a href="https://cs50.harvard.edu/web/2020/">CS50 is Web Programming with Python and JavaScript</a> ofrecido por la <strong>Universidad de Harvard</strong> por medio de la plataforma edX.</p>
<hr>
<h3>Cont&aacute;ctame</h3>
<p>
    <ul>
        <li >Para comunicaci&oacute;n sobre Administraci&oacute;n de Empresas
            <a href="mailto:lopez131319@unis.edu.gt?subject=Sitio web Santos Lopez" itemprop="email" title="Email Santos Lopez">cont&aacute;ctame</a>
        </li>
        <li>Para comunicaci&oacute;n sobre Ciencias de la Computaci&oacute;n, cont&aacute;ctame a
            <a href="mailto:santos.lopez@galileo.edu?subject=Sitio web Santos Lopez" itemprop="email" title="Email Santos Lopez">cont&aacute;ctame</a>
        </li>
    </ul>
</p>
<hr>
<h3>Sitio web</h3>
<p>
  <strong>Design </strong>by: <strong><a href="https://brianyu.me/">Brian Yu</a></strong>
  <br>
  Permiso autorizado el 19 de septiembre del 2017 para usarlo. <br>
</p>
