<hr>
<h2 style="color:blue">Metas 2022</h2>
<strong>En lo que estoy trabajando</strong>
<hr>

<ul>
	<li>Reforzar idioma Ruso &#x1F1F7;&#x1F1FA;: escritura, lectura y hablar.</li>
	<li>Aprender idioma ingl&eacute;s 🇺🇸</li>
	<li>Aprobar todos mis cursos de universidad</li>
	<li>Finalizar el curso: <strong>CS50’s Web Programming with Python and JavaScript</strong></li>
	<li>Finalizar el curso <strong>CS50: Introduction to Computer Science | Harvard University</strong></li>
	<li>Desarrollar un software: tema mundial de f&uacute;tbol o personal.</li>
</ul>

<h3 class="titleH2">Metas 2021</h3>
<hr>
<ul>
	<li>Aprender idioma Ruso &#x1F1F7;&#x1F1FA;</li>
	<li>Aprobar 8 o 9 cursos de la Universidad</li>
	<li>Divertirme en lo que me gusta</li>
	<li>Tener conversaciones significativas con 5 nuevas personas.</li>
</ul>

<h4 class="titleH2">A futuro...</h4>
<hr>
<ul>
	<li>Tener una fundaci&oacute;an para ayudar a los m&aacute;s necesitados.</li>
	<li>Crear un videojuego</li>
	<li>Desarrollar un software para la educaci&oacute;n</li>
	<li>Graduarme de la Universidad</li>
	<li>Leer 12 libros en un a&ntilde;o</li>
	<li>Tener conversaciones significativas con 12 nuevas personas</li>
	<li>Tener una casa</li>
	<li>Tener un negocio propio</li>
	<li>Finalizar el curso CS50 Game de la Universidad de Harvard</li>
</ul>
<hr>
