<strong>Cursos que he llevado de forma presencial y online.</strong>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="ingenieria-tab" data-bs-toggle="pill" data-bs-target="#ingenieria" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Ingenier&iacute;a en Sistemas</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="online-tab" data-bs-toggle="pill" data-bs-target="#online" type="button" role="tab" aria-controls="online" aria-selected="false">Cursos ONLINE</button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="ingenieria" role="tabpanel" aria-labelledby="ingenieria-tab">


  <!-- Inicio cursos presenciales-->
 <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cuarto a&ntilde;o</h4>
        <strong>Octavo semestre</strong>
        <ul>
	        <li>Econom&iacute;a II</li>
          <li>Teor&iacute;a de Sistemas II</li>
          <li>Ingenier&iacute;a de Procesos</li>
          <li>Seminario de Investigaci&oacute;n de Operaciones II</li>
        </ul>

        <strong>S&eacute;ptimo semestre</strong>
        <ul>
          <li>Teor&iacute;a de Sistemas I</li>
          <li>Econom&iacute;a I</li>
          <li>Seminario de Investigaci&oacute;n de Operaciones I</li>
          <li>Seminario Profesional I</li>
          <li>Ciencias de Computaci&oacute;n VII: Sistemas Operativos</li>
	        <li>Matem&aacute;tica VII</li>
        </ul>


        <h4 class="card-title">Tercer a&ntilde;o</h4>
        <strong>Sexto semestre</strong>
        <ul>
          <li>Ciencias de Computaci&oacute;n VI:  Base de datos 2</li>
          <li>Microprocesadores</li>
          <li>Instalaciones Estructuradas</li>
          <li>Ingenier&iacute;a de Software</li>
          <li>Matem&aacute;tica VI</li>
        </ul>

        <strong>Quinto semestre</strong>
        <ul>
	        <li>Ciencias de Computaci&oacute;n V: Base de datos 1</li>
          <li>Estad&iacute;stica Matem&aacute;tica</li>
          <li>Dise&ntilde;o y Construcci&oacute;n de Dispositivos Electr&oacute;nicos</li>
          <li>Matem&aacute;tica V</li>
        </ul>

        <h4 class="card-title">Segundo a&ntilde;o</h4>
        <strong>Cuarto semestre</strong>
        <ul>
          <li>Matem&aacute;tica IV</li>
          <li>&Aacute;lgebra Lineal II</li>
          <li>Ecuaciones Diferenciales Ordinarias</li>
          <li>Ciencias de Computaci&oacute;n IV: Compiladores</li>
          <li>Electr&oacute;nica 1</li>
        </ul>

        <strong>Tercer semestre</strong>
        <ul>
          <li>Electricidad I</li>
          <li>Matem&aacute;tica III</li>
          <li>&Aacute;lgebra Lineal I</li>
        </ul>

        <h4 class="card-title">Primer a&ntilde;o</h4>
        <strong>Segundo semestre</strong>
        <ul>
          <li>F&iacute;sica  II</li>
          <li>Inform&aacute;tica II</li>
          <li>Historia de la Ciencia y Tecnología</li>
          <li>Matem&aacute;tica II</li>
          <li>Ciencias de Computaci&oacute;n II: Estructura de datos</li>
          <li>Dibujo T&eacute;cnico</li>
        </ul>

        <strong>Primer semestre</strong>
        <ul>
          <li>Desarrollo y Organizaci&oacute;n Personal</li>
          <li>F&iacute;sica  I</li>
          <li>Inform&aacute;tica I</li>
          <li>Tecnolog&iacute;a Descriptiva</li>
          <li>Matem&aacute;tica I: Nivelaci&oacute;n de Matem&aacute;tica</li>
          <li>Ciencias de Computaci&oacute;n I: Introducci&oacute;n  a  la  Programaci&oacute;n</li>
        </ul>
      </div>

      <div class="card-footer" style="background:crimson;">
        <small class="text-muted"><p style="color:white;">Last updated december 30, 2021</p></small>
      </div>
    </div>


  </div>
  <!-- fin cursos presenciales-->



  <!-- Inicio cursos online -->
  <div class="tab-pane fade" id="online" role="tabpanel" aria-labelledby="online-tab">
 <div class="card">
      <div class="card-body">
        <h4 class="card-title">ONLINE</h4>

        <img src="static/img/umichigan.png" alt="Universidad de Michigan" style="width:7%;height:7%;"> Por medio de la plataforma Coursera.
        <ul>
          <li><strong>Building Web Applications in PHP</strong>
            <a href="https://www.coursera.org/account/accomplishments/verify/DKGTE98ZVYJF" title="Building Web Applications in PHP Michigan University" style="color:red"><img src="static/img/graduated.png" style="width:3%;height:3%;" alt="Certificado Coursera Santos Lopez" class="zoomImagen"></a>
          </li>
          <li><strong>Introducci&oacute;n a HTML5</strong>
            <a href="https://www.coursera.org/account/accomplishments/verify/EB8CXDENBVDU" title="Introducci&oacute;n a HTML5 Michigan University" style="color:red"><img src="static/img/graduated.png" style="width:3%;height:3%;" alt="Certificado Coursera Santos Lopez" class="zoomImagen"></a>
          </li>
        </ul>
        <br>

        <ul>
          <li><strong>CS143 Compilers: </strong> <br> Iniciativa de la Universidad de Stanford por medio de la plaforma Stanford Lagunita ONLINE. <a href="https://prod-cert-bucket.s3.amazonaws.com/downloads/e0b37b8c3ef748eda66b4501da37cb09/Statement.pdf" target="_blank" style="color:red"><img src="static/img/graduated.png" style="width:3%;height:3%;" alt="Certificado Standford Lagunita Santos Lopez"  class="zoomImagen"></a>
          </li>
          <li><strong>Computer Science 101: </strong><br> Iniciativa de la Universidad de Stanford por medio de la plaforma Stanford Lagunita ONLINE. <a href="https://prod-cert-bucket.s3.amazonaws.com/downloads/e5e7b7d1284f49e6928bef73a79fd842/Statement.pdf" target="_blank" style="color:red"><img src="static/img/graduated.png" style="width:3%;height:3%;" alt="Certificado Standford Lagunita Santos Lopez" class="zoomImagen"></a>
          </li>
          <li><strong>Computer Science 50: </strong><br> Introducci&oacute;n a las Ciencias de la Computaci&oacute;n I: Universidad de Harvard</li>
          <li><strong>CS50's Web Programming with Python and JavaScript: </strong> <br>Iniciativa de la Universidad de Harvard por medio de la plaforma edX.
            <!--a href="https://www.coursera.org/account/accomplishments/verify/EB8CXDENBVDU" target="_blank" style="color:red">Certificaci&oacute;n</a-->
          </li>
        </ul>

      </div>

      <div class="card-footer" style="background:crimson;">
        <small class="text-muted"><p style="color:white;">Last updated december 30, 2021</p></small>
      </div>
    </div>
  <!-- fin cursos presenciales-->

  </div>
</div>


</div>
  <!-- Fin cursos online-->

</div>
</div>
